In [1]:
import pandas as pd
import numpy as np

In [4]:
test_df = pd.read_csv('~/parkinsons_proj_1/parkinsons_project/parkinsons_1/data/raw/test.csv')

In [5]:
test_df.head()

  visit_id  visit_month  patient_id updrs_test           row_id  group_key
0   3342_0            0        3342    updrs_1   3342_0_updrs_1          0
1   3342_0            0        3342    updrs_2   3342_0_updrs_2          0
2   3342_0            0        3342    updrs_3   3342_0_updrs_3          0
3   3342_0            0        3342    updrs_4   3342_0_updrs_4          0
4  50423_0            0       50423    updrs_1  50423_0_updrs_1          0

In [6]:
train_clin

,visit_id,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4,upd23b_clinical_state_on_medication
0,55_0,55,0,10.0,6.0,15.0,NaN,NaN
1,55_3,55,3,10.0,7.0,25.0,NaN,NaN
2,55_6,55,6,8.0,10.0,34.0,NaN,NaN
3,55_9,55,9,8.0,9.0,30.0,0.0,On
4,55_12,55,12,10.0,10.0,41.0,0.0,On
...,...,...,...,...,...,...,...,...
2610,65043_48,65043,48,7.0,6.0,13.0,0.0,Off
2611,65043_54,65043,54,4.0,8.0,11.0,1.0,Off
2612,65043_60,65043,60,6.0,6.0,16.0,1.0,Off
2613,65043_72,65043,72,3.0,9.0,14.0,1.0,Off
2614,65043_84,65043,84,7.0,9.0,20.0,3.0,Off

In [7]:
train_updrs_1 = pd.read_csv('~/parkinsons_proj_1/parkinsons_project/parkinsons_1/data/processed/train_updrs_1.csv')

In [10]:
patient_ids = train_updrs_1['patient_id'].unique()

## Shuffle the Patient Ids

In [11]:
np.random.shuffle(patient_ids)

In [13]:
patient_ids

array([ 7117, 40751, 31270, 31693,  7265, 47513,  4172, 60170,  7051,
       56691, 14242, 52119, 14344, 42385, 55662, 14811, 11459, 52998,
       45161, 58597, 51846, 14450, 37566, 22623, 19088, 27607, 16778,
       41883, 41444, 15504, 28342,  4923, 60803, 29417, 22126, 57478,
       40022,  5178, 42579, 63875, 31154,  7151, 18553, 61974, 13618,
        8344,  3863, 13852, 55240,   942, 16574, 25911,  4161, 62732,
       58653, 58270, 50611, 24911, 57507, 21126, 20404, 49995, 57468,
       18183, 23244, 47881, 26210, 25827, 26809,  5742, 33558, 60443,
       30416, 27715, 15245, 49683, 25739, 30951, 62437,  6420, 35696,
       14270, 54406, 48928, 10174, 39719, 56075, 20792, 35231, 12755,
       42003, 40650,  5027, 58189, 29313, 18204, 20791, 44001, 36797,
       13368, 56317, 16238, 51899, 23391, 57416, 44154, 21537, 28818,
        5645, 41930, 62723, 57646, 51879, 38419, 17154,  7886, 59574,
       40200, 56119, 13360, 35477, 33108, 47171, 30119, 17727, 51708,
       63889, 31121, 41871, 17201, 16566, 11928, 44682, 27468, 14124,
        1517,  6054, 55302, 57009, 58648, 62329, 12703, 20707, 35675,
          55, 65043, 24690, 40798, 17414, 23636, 51893,  3636, 10718,
       20460, 40967,  7568, 35465, 41617, 11686, 30155, 40876, 16347,
       37312, 10053, 49672, 53103, 56538, 27464, 27893, 55256, 10715,
       54979, 15009, 20581,  7832,  1923, 27987, 45662, 37220, 34182,
       24818, 27300, 13968, 30894, 20352, 16931,  2660, 40340, 25562,
        8699, 20664,  7508, 23175, 24820, 40980, 60788, 58823, 56073,
       27971, 51243, 10138, 15590, 57108, 23192,  5036, 58674,  6211,
       12636, 27079, 40874, 55096, 46837, 27872, 47103, 25750, 60326,
       62792, 12516, 57321, 28327, 26005, 41628, 13804, 50907, 64674,
       18560, 48780, 26104, 10541, 14035, 24278, 20216, 44789, 45181,
       64669, 56727, 56675, 21729, 12931, 61503, 49239, 42086, 54095,
       39144, 20212, 59550, 52266, 33548], dtype=int64)

## Select only 20% of the Patient Ids for the test group

In [19]:
twenty_pct_ind = round(len(patient_ids) * .20)

In [20]:
train_ids = patient_ids[twenty_pct_ind:]
test_ids = patient_ids[:twenty_pct_ind]

In [18]:
twenty_pct_ind

49.6

In [21]:
train_df = train_updrs_1[train_updrs_1['patient_id'].isin(train_ids)]
test_df = train_updrs_1[train_updrs_1['patient_id'].isin(test_ids)]

In [22]:
train_df.shape, test_df.shape

((858, 1200), (210, 1200))